/*** FONTS ***/
@font-face {
	font-family: HelveticaNeueCyr;
	src: url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Light.ttf);
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: HelveticaNeueCyr;
	src: url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Roman.ttf);
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: HelveticaNeueCyr;
	src: url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Medium.ttf);
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: HelveticaNeueCyr;
	src: url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Bold.ttf);
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: HelveticaNeueCyr;
	src: url(../fonts/HelveticaNeueCyr/HelveticaNeueCyr-Black.ttf);
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Gilroy;
	src: url(../fonts/Gilroy/Gilroy-Light.ttf);
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Gilroy;
	src: url(../fonts/Gilroy/Gilroy-Regular.ttf);
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Gilroy;
	src: url(../fonts/Gilroy/Gilroy-Medium.ttf);
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Gilroy;
	src: url(../fonts/Gilroy/Gilroy-Semibold.ttf);
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: Gilroy;
	src: url(../fonts/Gilroy/Gilroy-Black.ttf);
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: HelveticaNeue;
	src: url(../fonts/HelveticaNeue/HelveticaNeue-Thin.otf);
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: HelveticaNeue;
	src: url(../fonts/HelveticaNeue/HelveticaNeue-Roman.otf);
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: HelveticaNeue;
	src: url(../fonts/HelveticaNeue/HelveticaNeue-Light.otf);
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: HelveticaNeue;
	src: url(../fonts/HelveticaNeue/HelveticaNeue-Medium.otf);
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: HelveticaNeue;
	src: url(../fonts/HelveticaNeue/HelveticaNeue-Bold.otf);
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: HelveticaNeueCondensed;
	src: url(../fonts/HelveticaNeue/HelveticaNeueBoldCondensed.ttf);
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: HelveticaNeueCondensed;
	src: url(../fonts/HelveticaNeue/HelveticaNeueBlackCondensed.ttf);
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: CenturyGothic;
	src: url(../fonts/CenturyGothic/centurygothic.ttf);
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: CenturyGothic;
	src: url(../fonts/CenturyGothic/centurygothic_italic.ttf);
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: CenturyGothic;
	src: url(../fonts/CenturyGothic/centurygothic_bold.ttf);
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: CenturyGothic;
	src: url(../fonts/CenturyGothic/centurygothic_bold_italic.ttf);
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: uncage;
	src: url(../fonts/uncage/UNCAGE-4.ttf);
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
